################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wedstrijd-planner/FileContentIndex/1ba8dddf-f620-4464-89ba-09d081df714a.vsidx
/.vs/wedstrijd-planner/FileContentIndex/80d6f14b-4e48-44c0-9557-de9663bfd04a.vsidx
